*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background: #17011af1;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.cube {
    position: relative;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d; 
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%
    {
        transform:rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
        transform:rotateX(-30deg) rotateY(360deg);
    }
}
.cube div{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height:100%;
    background: linear-gradient(#151515,#00ec00);
    transform:rotateY(calc(90deg * var(--i))) translateZ(25px);
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #222;
    transform: rotateX(90deg) translateZ(25px);
}
.top::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #0f0;
    transform: translateZ(-100px);
    filter: blur(10px);
    box-shadow:
    0 0 500px rgba(0,255,0,1);
}

.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0;
}
.menu{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90%;
}
.menu li{
    position: absolute;
    list-style: none;
    left: 0;
    transform-origin: 100px;
    transition: 0.6s;
    transition-delay: calc(0.1s*var(--j));
    transform: rotate(0deg) translateX(80px);
}
.toggle{
    position:absolute;
    width: 50px;
    height: 50px;
    background: rgb(1, 1, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 45%;
    cursor: pointer;
    box-shadow: 0 0px 4px rgb(4, 230, 247);
    font-size: 1em;
    color: white;
    transition: transform 1.25s;
}
.menu.active .toggle{
    transform: rotate(360deg);
    color:white;
    background: rgb(1, 1, 20);
    box-shadow: 0 0px 4px rgb(4, 230, 247);
}
.menu.active li{
    transform: rotate(calc(360deg/6*var(--j)));
}

.menu li a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    transform: rotate(calc(360deg/-6*var(--j)));
    color: rgb(245, 245, 248);
    box-shadow: 0 0px 4px rgb(6, 247, 18);
    transition: 0.5s;
    font-size: 0.7em;
    
}
.menu li a:hover{
    color: #07b8e4;
    box-shadow: 0 0px 4px rgb(4, 230, 247);
}



.mp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
    background: #17011af1;
}
.card{
    position: relative;
    width: 90vw;
    height: 90vh;
    background: #17011af1;
    border-radius: 5%;
    box-shadow: inset 5px 5px 15px rgba(0,0,0,0.15),
    inset -5px -5px 15px rgba(255,255,255,0.15),
    5px 5px 15px rgba(0,0,0,0.15),
    -5px -5px 15px rgba(255,255,255,0.15);
}
.imag{
    display: flex;
    justify-content: left;
    align-items:baseline;
}
img{
    width: 6.5vh;
    height: 6.5vh;
}
h2{
    margin: 2px;
    margin-left: 10px;
    font-size:2em;
    color: white;
    text-shadow: 1px 1px 3px rgb(5, 195, 243),
    0px 1px 3px white;
    text-transform: capitalize;
}